
body{
  background-color: rgb(255, 255, 255);
  font-family: "Anton", sans-serif;
  font-style: normal;
}

.brand-logo {
  color: white;
  font-size: 140%;
}

#redes{
  font-size: 70px;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;   /* Hace que el footer se mantenga abajo */
}

main {
  flex: 1;             /* Empuja el footer hacia abajo */
  display: block;
}